{% sw_extends '@Storefront/storefront/page/account/order-history/order-item.html.twig' %}

{% block page_account_order_item_overview %}
    <div class="order-wrapper">
        {% set states = [
            ORDER_TRANSACTION_STATE_FAILED,
            ORDER_TRANSACTION_STATE_REMINDED,
            ORDER_TRANSACTION_STATE_UNCONFIRMED,
            ORDER_TRANSACTION_STATE_CANCELLED
        ] %}

        {% set orderState = order.stateMachineState.technicalName %}
        {% set orderPaymentState = order.transactions.last.stateMachineState.technicalName %}
        {% set state = orderPaymentState %}
        {% set isPaymentNeeded = orderPaymentState in states and orderState != ORDER_STATE_CANCELLED %}

        <div class="row">
            {% block page_account_order_item_heading %}
                <div class="col-11 col-md-6">
                    <div class="card-title">
                        <i class="bi bi-xxs bi-truck pe-2"></i>{{ "account.orderHeadline"|trans|sw_sanitize }} {{ order.orderNumber|sw_sanitize }}
                    </div>
                </div>
            {% endblock %}

            {% block page_account_order_item_status_col %}
                <div class="col-12 col-sm">
                    {% block page_account_order_item_status %}
                        <div class="order-table-header-order-status">
                            {% if isPaymentNeeded %}
                                {% block page_account_order_item_status_badge_payment_process_needed %}
                                    <a href="{{ path('frontend.account.edit-order.page', { 'orderId': order.id }) }}"
                                       class="badge rounded-pill order-item-status-badge bg-danger">
                                        {{ "account.orderStatusActionCompletePayment"|trans|sw_sanitize }}
                                        {% sw_icon 'arrow-medium-right' style { 'size': 'sm', 'pack': 'solid' } %}
                                    </a>
                                {% endblock %}
                            {% else %}
                                {% block page_account_order_item_status_badge %}
                                    <span class="badge rounded-pill order-item-status-badge order-item-status-badge-{{ orderState }}">
                                        {{ order.stateMachineState.translated.name }}
                                    </span>
                                {% endblock %}
                            {% endif %}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}

            {% block page_account_order_item_context_menu_col %}
                <div class="col-2 text-end">
                    {% if isPaymentNeeded %}
                        <span class="order-table-header-context-menu-indicator notification-dot notification-dot-danger"></span>
                    {% endif %}

                    {% block page_account_order_item_context_menu %}

                        {% block page_account_order_item_context_menu_button %}
                            <button class="btn btn-outline-secondary"
                                    type="button"
                                    id="accountOrderDropdown"
                                    data-bs-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                {% sw_icon 'more-vertical' %}
                            </button>
                        {% endblock %}

                        {% block page_account_order_item_context_menu_content %}
                            <div class="dropdown-menu dropdown-menu-right order-table-header-context-menu-content"
                            aria-labelledby="accountOrderDropdown">

                            {% if orderState != ORDER_STATE_CANCELLED and orderPaymentState in ALLOWED_TRANSACTION_STATES %}
                                {% block page_account_order_item_context_menu_content_change_payment_button %}
                                    {{ parent() }}
                                {% endblock %}
                            {% endif %}

                            {% block page_account_order_item_context_menu_reorder %}
                                {{ parent() }}
                            {% endblock %}

                            {% block page_account_order_item_context_menu_cancel_order %}
                                {% if orderState != ORDER_STATE_CANCELLED and config('core.cart.enableOrderRefunds') %}
                                    <button type="button"
                                            class="order-table-header-context-menu-content-link"
                                            data-bs-toggle="modal"
                                            data-bs-target="#order-{{ order.id }}">
                                        {{ "account.editOrderCancelOrderButton"|trans|sw_sanitize }}
                                    </button>
                                {% endif %}
                            {% endblock %}
                        {% endblock %}
                        </div>
                    {% endblock %}

                    {% if orderState != ORDER_STATE_CANCELLED %}
                        <div class="cancelled">
                            {% sw_include '@Storefront/storefront/page/account/order-history/cancel-order-modal.html.twig' %}
                        </div>
                    {% endif %}
                </div>
            {% endblock %}
        </div>

        {% block page_account_order_item_order_number_col %}
            <div class="row">
                <div class="col-12 col-md-6 pb-2">
                    {% block page_account_order_item_order_date %}
                        <dl class="row no-gutters order-item-detail-labels">
                            <dt class="col-6 col-md-5">{{ "account.orderItemDate"|trans|sw_sanitize }}</dt>
                            <dd class="col-6 col-md-7 order-item-detail-labels-value">{{ order.orderDateTime|format_date('short', locale=app.request.locale) }}</dd>
                        </dl>
                    {% endblock %}
                </div>
            </div>

            <div class="order-item-detail-list-item-divider"></div>
        {% endblock %}

        {% block page_account_order_item_order_table_body_col %}
            {% block page_account_order_item_order_table_body %}
                <div class="row">
                    {% block page_account_order_item_order_table_body_cell_shipping_status %}
                        <div class="col-12 col-md-6 pb-2">
                            <dl class="row no-gutters order-item-detail-labels">
                                <dt class="col-6 col-md-5">{{ "account.orderShippingStatus"|trans|sw_sanitize }}{{ "account.colonCharacter"|trans|sw_sanitize }}</dt>
                                <dd class="col-6 col-md-7 order-item-detail-labels-value">{{ order.deliveries|first.stateMachineState.translated.name }}</dd>
                            </dl>
                        </div>
                    {% endblock %}

                    {% block page_account_order_item_order_table_body_cell_payment_status %}
                        <div class="col-12 col-md-6 pb-2">
                            <dl class="row no-gutters order-item-detail-labels">
                                <dt class="col-6 col-md-5">{{ "account.orderPaymentStatus"|trans|sw_sanitize }}{{ "account.colonCharacter"|trans|sw_sanitize }}</dt>
                                <dd class="col-6 col-md-7 order-item-detail-labels-value">{{ order.transactions|last.stateMachineState.translated.name }}</dd>
                            </dl>
                        </div>
                    {% endblock %}

                    {% block page_account_order_item_order_table_body_cell_payment_method %}
                        <div class="col-12 col-md-6 pb-2">
                            <dl class="row no-gutters order-item-detail-labels">
                                <dt class="col-6 col-md-5">{{ "account.orderPaymentMethod"|trans|sw_sanitize }}{{ "account.colonCharacter"|trans|sw_sanitize }}</dt>
                                <dd class="col-6 col-md-7 order-item-detail-labels-value">{{ order.transactions|last.paymentMethod.translated.name }}</dd>
                            </dl>
                        </div>
                    {% endblock %}

                    {% block page_account_order_item_order_table_body_cell_shipping_method %}
                        <div class="col-12 col-md-6 pb-2">
                            <dl class="row no-gutters order-item-detail-labels">
                                <dt class="col-6 col-md-5">{{ "account.orderShippingMethod"|trans|sw_sanitize }}{{ "account.colonCharacter"|trans|sw_sanitize }}</dt>
                                <dd class="col-6 col-md-7 order-item-detail-labels-value">{{ order.deliveries|first.shippingMethod.translated.name }}</dd>
                            </dl>
                        </div>
                    {% endblock %}
                </div>
                <div class="row">
                    {% block page_account_order_item_order_table_body_cell_toggle_order_details %}
                        <div class="col-12 order-item order-item-actions">

                            {% block page_account_order_item_order_table_body_cell_toggle_order_details_button %}
                                <button class="btn btn-primary order-hide-btn collapsed"
                                        type="submit"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#order{{ order.orderNumber }}"
                                        aria-expanded="false"
                                        aria-controls="collapseExample">

                                    {% block page_account_order_item_order_table_body_cell_toggle_order_details_button_text %}
                                        {{ parent() }}
                                    {% endblock %}
                                </button>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
        {% endblock %}

    </div>
    {% block page_account_order_item_detail %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
