{% sw_extends '@Storefront/storefront/page/checkout/confirm/index.html.twig' %}

{% block page_checkout_main_content %}
    {% block page_checkout_confirm %}
        {% block page_checkout_confirm_header %}
            {{ parent() }}
        {% endblock %}

        {% block page_checkout_confirm_alerts %}
            {{ parent() }}
        {% endblock %}

        {% block page_checkout_confirm_address %}
            {{ parent() }}
        {% endblock %}

        {% block page_checkout_confirm_payment_shipping %}
            {{ parent() }}
        {% endblock %}

        {% block page_checkout_confirm_product_table %}
            {{ parent() }}
        {% endblock %}

        {% block page_account_overview_newsletter %}
            {% if context.customer.guest == true %}
                {# Do not show newsletter subscription as it doesn't work for guests #}
            {% else %}
                <div class="confirm-newsletter">
                    <div class="card">
                        <div class="card-body">
                            {% block page_account_overview_newsletter_title %}
                                <h3 class="card-title">
                                    <i class="bi bi-xxs bi-newspaper pe-2"></i>{{ "account.newsletterTitle"|trans|sw_sanitize }}
                                </h3>
                            {% endblock %}

                            {% block page_account_overview_newsletter_content %}
                                <div class="js-newsletter-wrapper">
                                    {% sw_include "@Storefront/storefront/page/account/newsletter.html.twig" with { "newsletterAccountPagelet": page.getNewsletterAccountPagelet() } %}
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endblock %}

        {% block page_checkout_confirm_tos %}
            {{ parent() }}
        {% endblock %}

        {% block page_checkout_confirm_hidden_line_items_information %}
            {{ parent() }}
        {% endblock %}
    {% endblock %}
{% endblock %}

{% block page_checkout_confirm_tos_header %}
    <div class="card-title">
        <i class="bi bi-xxs bi-info-circle pe-2"></i>{{ "checkout.confirmTermsHeader"|trans|sw_sanitize }}
    </div>
{% endblock %}

{% block page_checkout_confirm_customer_comment_header %}
    <div class="card-title">
        <i class="bi bi-xxs bi-chat-right-text pe-2"></i>{{ "checkout.customerCommentHeader"|trans|sw_sanitize }}
    </div>
{% endblock %}
