{% sw_extends '@Storefront/storefront/page/error/error-maintenance.html.twig' %}

{% block error_maintenance_header %}
    {# sw_include '@Storefront/storefront/layout/header/header-simple.html.twig' #}
    <header class="wk-header">
        <div class="header-main">
        </div>
    </header>
{% endblock %}

{% block error_maintenance_main_fallback %}
    <div class="container-main pt-5">
        <div class="container">
            <div class="container-maintenance">

                <div class="row mb-4">
                    <div class="col-12 col-lg-7 m-auto container-maintenance__bg">
                        <picture>
                            <source srcset="{{ theme_config('sw-maintenance-bg-mobile') |sw_encode_url }}"
                                    media="(max-width: {{ theme_config('breakpoint.md') - 1 }}px)">

                            <source srcset="{{ theme_config('sw-maintenance-bg-tablet') |sw_encode_url }}"
                                    media="(min-width: {{ theme_config('breakpoint.md') }}px) and (max-width: {{ theme_config('breakpoint.xl') - 1 }}px)">

                            <img src="{{ theme_config('sw-maintenance-bg-desktop') |sw_encode_url }}"
                                 alt="{{ "general.maintenanceModeHeader"|trans|striptags }}"
                                 class="rounded mx-auto d-block" />
                        </picture>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-7 m-auto container-maintenance__text">
                        <div class="border p-3 text-left">
                            <h1 class="h2">{{ "errorMaintenance.pageTitle"|trans|striptags }}</h1>
                            <h2 class="lead">{{ "errorMaintenance.pageDescription"|trans|striptags }}</h2>
                            <p>{{ "errorMaintenance.customerService"|trans|raw }}
                                <a href="mailto:info@weka-holzbau.com">{{ "errorMaintenance.customerServiceEmail"|trans }}</a></p>
                            <p>{{ "errorMaintenance.specialOffersService"|trans|raw }}
                                <a href="mailto:shop@weka-holzbau.com">{{ "errorMaintenance.specialOffersEmail"|trans }}</a></p>
                            <p class="h4">{{ "errorMaintenance.thankYou"|trans }}</p>
                        </div>
                    </div>
                </div>

                <div class="wk-footline mt-5">
                    <div class="container">
                        <div class="h4 text-wood text-right">
                            {{ "general.maintenanceModeHeader"|trans }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block error_maintenance_footer %}
    <footer class="footer-main">
        {{ block('error_maintenance_footer_content') }}
    </footer>
{% endblock %}
