{% sw_extends '@Storefront/storefront/page/checkout/address/index.html.twig' %}

{% block base_header %}
    {{ parent() }}
{% endblock %}

{% block page_checkout_main_content %}
    {% block page_checkout_address %}
        {% block page_checkout_address_header %}
            <h1 class="address-main-header">
                {{ "checkout.addressHeader"|trans|sw_sanitize }}
            </h1>

            <div>
                {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                    type: "info",
                    heading: "checkout.finishInfoHeader"|trans|sw_sanitize,
                    content: "checkout.addressHeaderInformation"|trans|sw_sanitize
                } %}
            </div>
        {% endblock %}

        {% block page_checkout_custom_selection %}
            <div class="row mt-4">
                <div class="col-lg-6 text-center">
                    {% block page_checkout_address_login_toggle %}
                        <div class="register-login-collapse-toogle-login mb-3">
                            <a href="#loginCollapse"
                               class="login-collapse-toggle btn btn-primary collapsed"
                               style="width: 250px;"
                               data-bs-toggle="collapse"
                               aria-expanded="false">{% sw_icon 'log-in' %}&nbsp;{{ "detail.reviewLoginHeader"|trans|sw_sanitize }}</a>
                        </div>
                    {% endblock %}
                </div>
                <div class="col-lg-6 text-center">
                    {% block page_checkout_address_register_toggle %}
                        <div class="register-login-collapse-toogle-register mb-3">
                            <a href="#registerCollapse"
                               class="register-collapse-toggle btn btn-primary collapsed"
                               style="width: 250px;"
                               data-bs-toggle="collapse"
                               aria-expanded="false">{% sw_icon 'paper-pencil-signed' %}&nbsp;{{ "account.registerPersonalHeader"|trans|sw_sanitize }}</a>
                        </div>
                    {% endblock %}
                </div>
            </div>
        {% endblock %}

        {% block page_checkout_address_login %}
            <div class="collapse" id="loginCollapse">
                {% block page_checkout_address_login_card %}
                    {% sw_include '@Storefront/storefront/component/account/login.html.twig' with {
                        'cardTitle': "account.profileCredentialsTitle"|trans|sw_sanitize
                    } %}
                {% endblock %}
            </div>
        {% endblock %}

        {% block page_checkout_address_register %}
            <div class="collapse mb-3" id="registerCollapse">
                {% block page_checkout_address_register_card %}
                    {% sw_include '@Storefront/storefront/page/checkout/address/register.html.twig' with {
                        'cardTitle': "checkout.addressRegisterCardTitle"|trans|sw_sanitize
                    } %}
                {% endblock %}
            </div>
        {% endblock %}
    {% endblock %}
{% endblock %}

{% block page_checkout_address_products %}
    <div class="checkout-aside-products mt-3 card">
        <div class="card-body">
            {% block page_checkout_address_products_header %}
                <h3 class="card-title">
                    {{ "checkout.cartHeader"|trans|sw_sanitize }}
                </h3>
            {% endblock %}

            {% block page_checkout_address_products_list %}
                <div class="checkout-aside-product-list">
                    {% block page_checkout_address_product_list_container %}
                        {% for lineItem in page.cart.lineItems %}
                            {% block page_checkout_address_product_summary_item %}
                                {% sw_include '@Storefront/storefront/component/line-item/line-item.html.twig' with {
                                    displayMode: 'offcanvas',
                                    showQuantitySelect: false
                                } %}
                            {% endblock %}
                        {% endfor %}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}

